/* BASE_230 | LAYOUT | 230_MODEL-BASICSETUP | FOOTER - 2017-02-13 */
// BASE_230 | FOOTER | 230_BASE

// -------------------------------------
// EXTEND

	// SITE-FOOTER

	%sitefooter_layout {
		border-top: 1px solid #eee;
		@extend %clearfix !optional;
	}
	%sitefooterwrap_layout {}
	%sitefooterwraponly_layout {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		@extend %clearfix !optional;
	}

	// FOOTER-WIDGETS

	%footerwidgets_layout {
		border-top: 1px solid #eee;
		margin-bottom: 5rem;
		@extend %clearfix !optional;
	}
	%footerwidgetswrap_layout {}
	%footerwidgetswraponly_layout {
		padding-top: 1rem;
		padding-bottom: 1rem;
		@extend %clearfix !optional;
	}

	%footerwidgets1_layout {
		width: 32%;
		margin-right: 2%;
		float: left;
		@extend %clearfix !optional;
		@extend %responsive-layout-max !optional;
	}

	%footerwidgets2_layout {
		width: 32%;
		margin-right: 2%;
		float: left;
		@extend %clearfix !optional;
		@extend %responsive-layout-max !optional;
	}

	%footerwidgets3_layout {
		width: 32%;
		float: left;
		@extend %clearfix !optional;
		@extend %responsive-layout-max !optional;
	}


// -------------------------------------
// SELECTORS

	// SITE-FOOTER

	.site-footer {
		@extend %sitefooter !optional;
		@extend %sitefooter_layout !optional;

		.wrap {
			@extend %sitefooterwrap !optional;
			@extend %sitefooterwrap_layout !optional;
		}
	}
	.site-footer > .wrap {
		@extend %sitefooterwraponly !optional;
		@extend %sitefooterwraponly_layout !optional;
	}

	// FOOTER-WIDGETS

	.footer-widgets {
		@extend %footerwidgets !optional;
		@extend %footerwidgets_layout !optional;

		.wrap {
			@extend %footerwidgetswrap !optional;
			@extend %footerwidgetswrap_layout !optional;
		}
	}
	.footer-widgets > .wrap {
		@extend %footerwidgetswraponly !optional;
		@extend %footerwidgetswraponly_layout !optional;
	}

	.footer-widgets-1 {
		@extend %footerwidgets1 !optional;
		@extend %footerwidgets1_layout !optional;
	}

	.footer-widgets-2 {
		@extend %footerwidgets2 !optional;
		@extend %footerwidgets2_layout !optional;
	}

	.footer-widgets-3 {
		@extend %footerwidgets3 !optional;
		@extend %footerwidgets3_layout !optional;
	}