/* BASE_230 | LAYOUT | 230_MODEL-BASICSETUP | FULL - 2017-02-13 */

// -------------------------------------
// EXTEND

	%full-csw_layout {
		float: none;
		width: 100%;
		@extend %responsive-layout-max !optional;
	}

	%full-content_layout {
		float: none;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		@extend %responsive-layout-max !optional;
	}

// -------------------------------------
// SELECTORS

	.full-width-content .content-sidebar-wrap {
		@extend %full-csw_layout !optional;
	}

	.full-width-content .content {
		@extend %full-content_layout !optional;
	}